# /node_modules/* and /bower_components/* in the project root are ignored by default
node_modules/**/*
bower_components/**/*
vendor/**/*

# Ignore built files
dist/**/*
tests/units/__snapshots__/**/*
